extends layout

mixin post(postData)
  .post
    a(href=postData.link).text-decoration-none
      .wrapper.my-2
        .row
          .col-md-6.post-title
            .container
              h2.text-center= postData.title
              p.text-center.font-italic= postData.date
              p.text-center.post-description.pt-5= postData.text
              h5.click-text.text-center Click to read
          .col-md-6.post-media
            .flex-vid.pt-0
              video(width='100%', height='100%', loop, muted).post-video
                source(src=postData.assetLink, type='video/mp4')
                  
mixin postWithPicture(postData)
  .post
    a(href=postData.link).text-decoration-none
      .wrapper.my-2
        .row
          .col-md-6.post-title
            .container
              h2.text-center= postData.title
              p.text-center.font-italic= postData.date
              p.text-center.post-description.pt-5= postData.text
              h5.click-text.text-center Click to read
          .col-md-6.post-media
           .flex-img.text-center
             img(src=postData.assetLink).img-fluid.post-img
            
block content
  .col-md-9
    h1 Projects
    p I have tinkered with many things over the years. These are some of the projects that I feel particularly proud of. You can hover over them to find out a more.
    hr.bg-white
    +post({link: "game", date: '09-29-1991', title: 'Last Circle', text: 'I designed, programmed, and animated a Geometry Wars-esque game compatible with Windows and macOS.', assetLink: "assets/newWebVideo.mp4"})
    +post({link: "/", date: '09-29-1991', title: 'Chaotic Simulations', text: 'A script designed to render the animations of pendulum systems.', assetLink: "assets/testdubpend.mp4"})
    +postWithPicture({link: "/", date: '09-29-1991', title: 'Arduino GPS Tracker', text: 'A portable GPS speedometer built with an Arduino microcontroller.', assetLink: "assets/gpsPic2.png"})
    +postWithPicture({link: "/", date: '09-29-1991', title: 'FM Radio Transmitter', text: 'A short range 3-transistor FM radio transmitter I built with components from RadioShack.', assetLink: "assets/finalRadio.png"})
    +postWithPicture({link: "/", date: '09-29-1991', title: 'Lightbulb Spectroscopy', text: 'An analysis of the emission spectra of commerically availble lamps.', assetLink: "assets/absorbance2.png"})
    
